.cardStyle {
    box-shadow: 0 8px 16px 0 purple;
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8c004b;
    border-radius: 20px;
    transition: 0.4s;
    margin-top: 20px;
    margin-left: 140px;
    min-width: 300px;
    max-width: 300px;
    max-height: 500px;
    min-height: 400px;
}

.card--title {
    text-align: center;
hyphens: auto;
text-overflow: clip;
}

.rootStyle {
    margin: 0 auto; 
    width: max-content;
    padding: 0 10px;
    color: white;
    font-family: Verdana;

}

.cardStyle:hover {
    box-shadow: 0 8px 16px 0 blue;
}

.colum {
    float: left;
    width: 25%;
    padding: 0 10px
}

.button {
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
    border: 2px solid black ;
    box-shadow: 0 8px 16px 0 black;

}

.body {
    background-color: burlywood ;
}

.textoPrincipal {
    text-shadow: -1px -1px 1px #aaa,
    0px 4px 1px rgba(0,0,0,0.5),
    4px 4px 5px rgba(0,0,0,0.7),
    0px 0px 7px rgba(0,0,0,0.4);;
}